header{
 background-color:#0097a7;
 text-align: center;
}
nav{
background-color:#4dd0e1;
	background-color:;
}
h2{
	color:#0288d1;
	text-align: center;
}
h3{
	color:#0288d1;
	text-align: center;
}
div{
	background-color:#4dd0e1;
}
footer{
background-color:#0097a7 ;
text-align: center;
}
h1{
text-align: center;

}
